/config/config_db*
/config/config_path.php
/config/local_define.php
/tests/config_db*
/.buildpath
/.project
/.settings/
/.vscode/
/.idea/
/tools/composer.lock
/tools/vendor/
/tools/api/
/tools/htmlcov/
/tests/code-coverage/
/config/based_config.php
/config/config.php
/config/glpicrypt.key
/config/define.php
/nbproject
.composer.hash
/db/
